@model EquipoListVM

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form method= "get" asp-action="Index" asp-asp-controller="Equipo">
    <input asp-for="Filter">
    <button type="submit">Buscar</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Equipos[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipos[0].Anio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipos[0].Pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipos[0].GanoEstaFecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipos[0].PrecioEntrada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Equipos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GanoEstaFecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioEntrada)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
